<!--The about section of the homepage -->

<!--PageSpeed screenshot-->
<div class="d-flex justify-content-center col-md-12">
  <img alt="a score of 98 on google pageSspeed test" src="/images/speed2.png" alt="A fast webpage being tested on google" class="lozad col-md-7">
</div>

<!--Google analytics screenshot-->
<img id="viewport" alt="google analytics graph" src="/images/analytics.png" class="lozad col-md-7 analytics">
<div class="d-flex p-4 bg-transparent"></div>


 <!--Comments-->

 <!--The following section fades in from the right-->
<div class="col-md-4 offset-md-1" id="2" data-aos="fade-right">
<h1>About</h1>

  <div class="card col-md-12 products">
    <h2><img alt="open package" src="/images/icons/empty-box.png">
    Client Satisfaction</h2>

    <p>
      100% client satisfaction guarentee or you don't have to pay.
    </p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>
  <div class="card col-md-12 tools">
    
  <!--Plugins-->
    <h2 class=""><img alt="toolbox" src="/images/icons/toolbox.png">
      Speed</h2>
    <p>
      One of the most important aspects of a website is speed.
      Our target is 90% or higher on Google PageSpeed in every website.
    </p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>

  <!--Libraries-->
  <div class="card col-md-12 process">
    <h2 class=""><img alt="wrench and screwdriver" src="/images/icons/wrench.png">
      JAMstack compliant</h2>
    <p>Every website is built to be highly modular and developer friendly. </p>
  </div>
</div>