<!--Head-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

<!--Meta Description--> 
    <meta name="description" content="{{page.description}}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2">

  <!--Jekyll feed-->
<link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">

<!--Title-->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

<!--Favicon--> 
<link rel="shortcut icon" type="image/png" href="/favicon.png">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.data.widgets.analytics}}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.data.widgets.analytics}}');
</script>

<script type="text/javascript">
  var timerStart = Date.now();
</script>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="Jstyle.css">

</head>

</body>

  <!--CSS libraries-->

<style>
{% include animate.css %}
{% include aos.css %}

</style>

<!--Scroll animation library

  Even though this is a script, it is placed at the top as it will negatively impact performance if placed 
  lower down. 
-->
<script>
  {% include scroll.js %}
</script>


