
        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex p-4 bg-transparent"></div>
<h2 class="subtitle text-center">
portfolio
</h2>

<div class="d-flex justify-content-center">

<div class="col-md-9 card-deck">

    {% for portfolio in site.portfolio %}
    <!--Post-->

    <div class="col-md-6">
      <h2 class="post-title text-center">
          <div class="nline">
<a href=" {{ portfolio.url }}">{{ portfolio.title }}</a></div>
      </h2>
      <!--Image-->
      <a href="{{portfolio.link}}"><img class="col-md-12" src="{{ portfolio.image }}" alt="{{portfolio.title}}"></a>

      <!--Date and author-->
      <div class="d-flex justify-content-center col-md-12">
      <a class="siteLink" href="{{portfolio.link}}">Site</a> 
      <a class="gitlabLink" href="{{portfolio.gitlab}}">Gitlab</a>
      </div>  
      
      <p>{{ portfolio.description }}</p>
        <div class="d-flex p-4 bg-transparent"></div>
      </div>
    {% endfor %}

</div>
</div>
