<!--This is the blog layout-->


{% include head.html %}
{% include navigation.html %}


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<div class="card-group">

    <div class="col-md-12 d-flex justify-content-center">

    <div class="posts col-md-6 card">
        {% for post in site.posts %}
        <!--Post-->
        <div class="post">
          <h1 class="post-title text-center">
              <div class="nline"><a href=" {{ post.url }}">{{ post.title }}</a></div>
          </h1>
          <!--Date and author-->
            <p class="small post-date text-center">{{ post.date | date_to_string }} by {{post.author}}</p>

            <p>{{ post.excerpt | strip_html }}</p>
            <div class="d-flex p-4 bg-transparent"></div>

           </div>
        {% endfor %}
        <div class="d-flex p-4 bg-transparent"></div>

    </div>
</div>
<!--Post archive-->



    {% include footer.html %}