{% include head.html %}
{% include navigation.html %}


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<div class="text-center">
<h3 class="subtitle">
    <img src="/images/icons/phone.png">Phone: (541)-595-8720</h3>

<h3 class="subtitle">
    <img src="/images/icons/email.svg">Email: jaynkystudio@gmx.com</h3>
</div>

<!--The contact form is a partial so that you can place it wherever you want.-->
{% include contact-form.html%}
 
{% include footer.html %}