<!--FAQ template
  
    The accordian tabs are powered through Bootstrap.js

-->


{% include head.html %}
{% include navigation.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<!--Main Title-->
<h1 class="title text-center">FAQ</h1>


<div class="d-flex justify-content-center justify-content-center">

    <div class="col-md-6">
    <div class="accordion" id="accordionExample">

      <!--Tab #1-->
        <div class="card">
          <div class="card-header" id="collapse">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Do you update sites?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Yes we can update your old or outdated website into a sleek new one. If it is built with Wordpress/Wix we will most 
              likely re-build it in order to attain peak performance.
            </div>
          </div>
        </div>

        <!--Tab #2-->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What do I do if I want to edit the site?
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              If you would like to change or edit the site, we can set you up with the proper tools as it is all open source. 
              Another option is paying a small retaining fee to get support from us past the completion of the site.
            </div>
          </div>
        </div>

        <!--Tab #3-->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can you make my logo?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                  We have not developed that capacity yet. However we can put you in contact with 
                  professional designers who would love to create a logo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  
      {% include footer.html %}