<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->


{% include head.html %}
{% include navigation.html %}


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Main Title-->
<div class="row justify-content-center col-md-12">
    <h1 class="display-3 title animated lightSpeedIn delay-0.2s" >
        Grow your Company
    </h1>
</div>

<div class="row justify-content-center col-md-12">
    <h2 class="lead subtitle animated slideInLeft delay-0.5s">
     With High Performing Static Websites for Small Businesses
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

<div class="d-flex col-md-12 justify-content-center">
    <h1 class="subtitle"><i>Products</i></h1>
</div>
{% include features.html %}
{% include about.html %}

{% include portfolio.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
{% include footer.html %}