
<!--Post template-->


{% include head.html %}
{% include navigation.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>



<div class="col-md-12 d-flex justify-content-center">

<!--Border around post-->
<div class="col-md-7 blog-border">

<!--Title-->
<h1 class="text-center post-title"> {{page.title}} </h1>

<!--Date and author-->
<p class="text-center"><span class="post-date">{{ page.date | date_to_string }}</span></p>

    {{content}}
    
</div>
</div>
    

{% include share-bar.html %}
</div>
<div class="d-flex p-4 bg-transparent"></div>

{% include footer.html %}